@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: pink;
  text-align: middle;
  color: navy;
  margin: auto;
  font-family: fantasy;
}

h1{
  font-size: 20px;
}

#myCanvas {
  background-image: url("https://media.istockphoto.com/id/1283436076/vector/natural-ocean-bottom-background.jpg?s=1024x1024&w=is&k=20&c=pyfpIjnFtt2lAG8i9-416vyxhurD7vQuhec3wFpXzYw=");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



